template-main/
.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

leiter2018/
template-main/
user_guide/
assets/dokumen/buktibayar/
assets/dokumen/hargasupplier/
assets/dokumen/invoice/
assets/dokumen/petty/
assets/dokumen/pib/
assets/dokumen/report/
notes/
meeting/
application/config/config.php
application/config/database.php
*.zip
*.txt
assets/rfq
tests/
testing-plan/
queries/
assets/dokumen/quotation/